$fontFamily: "Renault Regular";

#popInElementKam * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#popInElementKam {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
  z-index: 999;
}

#closedPopInKam {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background: #333;
  cursor: pointer;
}
#closedPopInKam:after {
  width: 2px;
  height: 34px;
  background: #aaa;
  content: '';
  position: absolute;
  z-index: 2;
  top: 8px;
  left: 24px;
  transform: rotate(45deg);
}
#closedPopInKam:before {
  width: 2px;
  height: 34px;
  background: #aaa;
  content: '';
  position: absolute;
  z-index: 2;
  top: 8px;
  left: 24px;
  transform: rotate(-45deg);
}

#wrapperElementContentKam {
  width: 1000px;
  height: 930px;
  background: #fff;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  margin: auto;
}

#popInHeaderImgKam {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

#popInHeaderImgKam > img {
  width: inherit;
  margin-top: -150px;
}

#popInContentKam {
  width: 100%;
  height: 630px;
  padding: 43px 50px 46px;
}

.popInContentRowKam {
  overflow: hidden;
}

#popInElementKam h3 {
  font: 28px $fontFamily;
  float: left;
}

.selectKam {
  height: 40px;
  text-indent: 10px;
  font-family: $fontFamily;
  position: relative;
  display: inline-block;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent;
  z-index: 3;
  outline: none;
  cursor: pointer;
}
.selectKam::-ms-expand {
  display: none;
}
.selectKam:focus ~ .selectElementsKam:after {
  border-bottom: 3px solid #fc3;
  border-right: 3px solid #fc3;
}
.selectKam:focus ~ .selectElementsKam {
  border: 1px solid #fc3;
}
.floatRightKam {
  float: right !important;
}
.floatLeftKam {
  float: left !important;
}
.selectDesignKam {
  position: relative;
  overflow: hidden;
}
.selectDesignKam select {
  opacity: 0;
  background: #ececec;
}
.selectDesignKam select:disabled ~ .selectElementsKam{
}
.selectDesignKam .completeSelKam,
.valideInputKam {
  border: 1px solid #59a618;
}
.valideInputKam {
  text-indent: 11px !important;
}
.selectElementsKam {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 10px !important;
  padding-top: 9px !important;
  font: 20px $fontFamily;
  border: 1px solid #999;
}
.selectElementsKam:before {
  content: '';
  position: absolute;
  top: 8px;
  right: 50px;
  width: 1px;
  height: 24px;
  background: #999;
}
.selectElementsKam:after {
  content: '';
  position: absolute;
  top: 12px;
  right: 20px;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  border-bottom: 3px solid #999;
  border-right: 3px solid #999;
}

#selectMarkAutoKam {
  float: right;
  width: 510px;
  font-size: 20px;
}

.bigMarginKam {
  margin-top: 40px !important;
}
.veryLowMarginKam {
  margin-top: 18px !important;
}

#searchCiviliteKam {
  width: 280px;
  font-size: 18px;
}

.inputStyleKam {
  height: 40px;
  text-indent: 10px;
  font: 18px $fontFamily;
  outline: none;
}
.inputStyleKam:focus {
  border: 1px solid #fa3 !important;
  text-indent: 11px;
  background: #fef7e5;
}

.inputFirstRowKam {
  display: block;
  width: 288px;
  float: right;
  overflow: hidden;
}
.invalideFormKam {
  border: 1px solid red !important;
  text-indent: 11px;
}
.invalideFormKam ~ .selectElementsKam {
  border: 1px solid red;
}

.fixSpace22pxKam {
  width: 22px;
  height: 40px;
  float: right;
  overflow: hidden;
}

.lowMarginKam {
  margin-top: 20px !important;
}

.inputTwoRowKam {
  display: block;
  float: right;
  width: 439px;
}

.labelRadioKam {
  width: 100px;
  font: 16px $fontFamily;
  float: left;
}

.popInContentRowKam h4 {
  padding-top: 35px !important;
  padding-bottom: 25px !important;
  font: 24px $fontFamily;
}

.popInContentRowKam p {
  font: 16px $fontFamily;
  padding-top: 25px !important;
  padding-bottom: 15px !important;
}

.inputThreeRowKam {
  width: 435px;
}

.radioElementsKam input {
  visibility: hidden;
  float: right;
}

input:-internal-autofill-selected {
  background: #fff !important;
}

.radioElementsKam label {
  float: right;
  margin-right: 10px !important;
  overflow: hidden;
  cursor: pointer;
  font: 16px $fontFamily;
}

.radioElementsKam label:nth-child(2n) {
  // padding-right: 5px !important;
}
#labelEmailYesKam:after,
#labelEmailNoKam:after,
#labelSmsYesKam:after,
#labelSmsNoKam:after {
  display: none;
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
  background: #ffcd10;
  border-radius: 50%;
  transition: .2s;
}
#radioEmailYesKam:checked ~ .fixHoverEffectKam #labelEmailYesKam {
  background: #fff;
  border: 1px solid #ffcd10 !important;
}
#radioEmailYesKam:checked ~ .fixHoverEffectKam #labelEmailYesKam:after {
  display: block;
}
#labelEmailYesKam:hover {
  background: #fef7e5;
  border: 1px solid #ffcd10 !important;
}

#radioEmailNoKam:checked ~ .fixHoverEffectKam #labelEmailNoKam {
  background: #fff;
  border: 1px solid #ffcd10 !important;
}
#radioEmailNoKam:checked ~ .fixHoverEffectKam #labelEmailNoKam:after {
  display: block;
}
#labelEmailNoKam:hover {
  background: #fef7e5;
  border: 1px solid #ffcd10 !important;
}

#radioSmsYesKam:checked ~ .fixHoverEffectKam #labelSmsYesKam {
  background: #fff;
  border: 1px solid #ffcd10 !important;
}
#radioSmsYesKam:checked ~ .fixHoverEffectKam #labelSmsYesKam:after {
  display: block;
}
#labelSmsYesKam:hover {
  background: #fef7e5;
  border: 1px solid #ffcd10 !important;
}

#radioSmsNoKam:checked ~ .fixHoverEffectKam #labelSmsNoKam {
  background: #fff;
  border: 1px solid #ffcd10 !important;
}
#radioSmsNoKam:checked ~ .fixHoverEffectKam #labelSmsNoKam:after {
  display: block;
}
#labelSmsNoKam:hover {
  background: #fef7e5;
  border: 1px solid #ffcd10 !important;
}
label[for^="radio"]:hover ~ label {
  background: #fef7e5;
  border: 1px solid #ffcd10 !important;
}

.radioButtonKam {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #999;
  transition: .2s;
  background: #ececec;
  position: relative;
}
.fixHoverEffectKam {
  overflow: hidden;
  width: 71px;
  float: left;
  margin-right: 10px !important;
}
.w60Kam {
  width: 65px !important;
}
.fixHoverEffectKam .radioButtonKam {
  float: left;
}

.popInContentRowKam a {
  display: inline-block;
  color: #777;
  margin: 25px 0 !important;
  font: 16px $fontFamily;
}

.overflowOffKam {
  overflow: visible !important;
}
.popInContentRowKam button {
  float: right;
  background: #fc1;
  border: none;
  outline: none;
  padding: 10px 45px 10px 20px !important;
  text-transform: uppercase;
  font-family: "Renault Bold";
  cursor: pointer;
  margin-top: -10px !important;
  position: relative;
}
.popInContentRowKam button:hover {
  background: #FFDD33;
}
.popInContentRowKam button:after {
  content: '';
  position: absolute;
  right: 20px;
  top: 16px;
  width: 8px;
  height: 8px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  transform: rotate(45deg);
}

#noteContentKam {
  float: left;
  font: 16px $fontFamily;
}
